* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Barlow Condensed', sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background: radial-gradient(
        134.34% 134.34% at 50% 0%,
        #1f3757 0%,
        #131537 100%
    );
}

.scoreboard {
    margin-top: 50px;
    height: 150px;
    border-radius: 15px;
    border: 2px solid hsl(217, 16%, 45%);
    width: 700px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title {
    margin-left: 30px; 
}

.score {
    border-radius: 15px;
    width: 140px;
    height: 114px;
    background-color: white;
    margin-right: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.score p {
    color: hsl(229, 64%, 46%);
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
    letter-spacing: 3px;
}

.score h1 {
    color: hsl(229, 25%, 31%);
}

.signs {
    width: 476px;
    height: 430px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 150px;
    background-image: url(./images/bg-triangle.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.paper {
    margin-right: 20px;
}

.scissors {
    margin-left: 20px;
}

.signs .sign {
    transition: 0.5s;
    cursor: pointer;
}

.signs .sign:hover {
    transform: translate3d(0, -10px, 0);
}

.rules {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 150px;
    border: 2px solid hsl(217, 16%, 45%);
    border-radius: 10px;
    position: absolute;
    bottom: 50px;
    right: 50px;
    cursor: pointer;
    transition: 0.5s;
}

.rules:hover {
    transform: scale(1.2)
}

.rules p {
    color: white;
    text-transform: uppercase;
    font-size: 16px;
    letter-spacing: 3px;
}

.play {
    width: 700px;
    height: 350px;
    margin-top: 100px;
    display: none;
    justify-content: space-between;
    align-items: center;
}

.play p {
    text-transform: uppercase;
    text-align: center;
    font-size: 20px;
    letter-spacing: 3px;
    color: white;
    font-weight: 700;
    margin-bottom: 50px;
}

.result {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 200px;
}

.result h1 {
    font-size: 3rem;
    text-transform: uppercase;
    color: white;
    letter-spacing: 3px;
}

.result button {
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: 700;
    margin-top: 15px;
    padding: 15px 10px;
    border: none;
    border-radius: 10px;
    transition: 0.5s;
    color: red;
    width: 100%;
}

.result button:hover {
    transform: scale(1.1);
}

.hide {
    display: none;
}

.show {
    display: flex;
}

.rules-popup {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    width: 400px;
    height: 450px;
    background-color: white;
    position: absolute;
    top: 30%;
    transform: scale(0.1);
    visibility: hidden;
}

.rules-nav {
    margin-top: -20px;
    margin-bottom: 50px;
    width: 80%;
    display: flex;
    justify-content: space-between;
}

.rules-nav img {
    width: 32px;
    height: 32px;
    transition: 0.5s;
    cursor: pointer;
}

.rules-nav img:hover {
    transform: scale(1.1);
}

.rules-nav h1 {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 900;
}

.popup {
    transition: 0.5s;
    visibility: visible;
    transform: scale(1);
}

@media (max-width: 1000px) {
    .scoreboard {
        width: 300px;
        height: 100px;
        border-radius: 10px;
    }

    .title {
        margin-left: 15px;
    }

    .title img {
        height: 80px;
        width: 120px;
    }

    .score {
        height: 70px;
        width: 70px;
        border-radius: 5px;
        margin-right: 15px;
    }

    .signs {
        margin-top: 100px;
        height: 400px;
        width: 400px;
        background-size: 80%;
    }

    .sign img, .play img {
        width: 170px;
        height: 170px;
    }

    .rules {
        margin-top: 100px;
        position: initial;
    }

    .rules:hover {
        transform: none;
    }

    .rules-popup {
        width: 350px;
        top: 25%;
    }

    .play {
        margin-top: 80px;
        height: 400px;
        width: 400px;
        flex-wrap: wrap;
        justify-content: center;
    }

    .result {
        order: 1;
    }

    .play p {
        font-size: 16px;
        margin-bottom: 30px;
    }

    .userSign p, .chosenSign {
        margin-right: 20px;
    }

    .comSign p, .randomSign {
        margin-left: 20px;
    }
}